@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Map CSS */

img.leaflet-marker-shadow.leaflet-zoom-animated {
  margin-left: -19px;
  margin-top: -19px;
}

/* CLIP PATHS FOR ARMOR HIGHLIGHTS */

/* spoops */

.spoops-clip-path-shield {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(33% 38%, 37% 35%, 37% 35%, 39% 36%, 39% 36%, 37% 45%, 37% 45%, 41% 49%, 41% 49%, 39% 55%, 39% 55%, 36% 56%, 36% 56%, 33% 53%, 33% 53%, 33% 47%, 33% 47%, 33% 43%, 33% 43%);
}

.spoops-clip-path-sword {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(92% 86%, 90% 78%, 90% 78%, 90% 78%, 90% 78%, 79% 57%, 79% 57%, 79% 57%, 79% 57%, 80% 54%, 80% 54%, 80% 54%, 80% 54%, 78% 52%, 78% 52%, 78% 52%, 78% 52%, 81% 51%, 81% 51%, 81% 51%, 81% 51%, 82% 53%, 82% 53%, 82% 53%, 82% 53%, 85% 52%, 85% 52%, 85% 52%, 85% 52%, 81% 49%, 81% 49%, 81% 49%, 81% 49%, 79% 47%, 79% 47%, 79% 47%, 79% 47%, 78% 49%, 78% 49%, 78% 49%, 78% 49%, 76% 51%, 76% 51%, 76% 51%, 76% 51%, 74% 47%, 74% 47%, 74% 47%, 74% 47%, 71% 48%, 71% 48%, 71% 48%, 71% 48%, 74% 52%, 74% 52%, 74% 52%, 74% 52%, 72% 52%, 72% 52%, 72% 52%, 72% 52%, 71% 53%, 71% 53%, 71% 53%, 71% 53%, 68% 53%, 68% 53%, 68% 53%, 68% 53%, 70% 55%, 70% 55%, 70% 55%, 70% 55%, 69% 59%, 69% 59%, 69% 59%, 69% 59%, 72% 59%, 72% 59%, 72% 59%, 72% 59%, 71% 56%, 71% 56%, 71% 56%, 71% 56%, 73% 54%, 73% 54%, 73% 54%, 73% 54%, 75% 56%, 75% 56%, 75% 56%, 75% 56%, 76% 58%, 76% 58%, 76% 58%, 76% 58%, 79% 66%, 79% 66%, 79% 66%, 79% 66%, 82% 71%, 82% 71%, 82% 71%, 82% 71%, 84% 76%, 84% 76%, 84% 76%, 84% 76%, 85% 79%, 85% 79%, 85% 79%, 85% 79%);
}

.spoops-clip-path-leg {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(39% 99%, 41% 96%, 41% 96%, 45% 78%, 45% 78%, 47% 68%, 47% 68%, 49% 65%, 49% 65%, 50% 61%, 50% 61%, 53% 52%, 53% 52%, 50% 49%, 50% 49%, 49% 52%, 49% 52%, 46% 56%, 46% 56%, 43% 60%, 43% 60%, 42% 63%, 42% 63%, 42% 67%, 42% 67%, 42% 70%, 42% 70%, 39% 89%, 39% 89%, 38% 96%, 38% 96%);
}


.spoops-clip-path-armor {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(49% 23%, 44% 28%, 44% 28%, 36% 35%, 36% 35%, 39% 36%, 39% 36%, 46% 37%, 46% 37%, 54% 39%, 54% 39%, 61% 38%, 61% 38%, 61% 31%, 61% 31%, 66% 40%, 66% 40%, 71% 46%, 71% 46%, 75% 45%, 75% 45%, 72% 39%, 72% 39%, 69% 33%, 69% 33%, 61% 25%, 61% 25%, 57% 22%, 57% 22%, 56% 17%, 56% 17%, 59% 14%, 59% 14%, 58% 11%, 58% 11%, 48% 11%, 48% 11%, 48% 12%, 48% 12%, 53% 17%, 53% 17%, 52% 20%, 52% 20%);
}

.spoops-clip-path-robe {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(71% 85%, 74% 81%, 74% 81%, 74% 76%, 74% 76%, 75% 67%, 75% 67%, 72% 61%, 72% 61%, 69% 59%, 69% 59%, 69% 56%, 69% 56%, 67% 53%, 67% 53%, 67% 46%, 67% 46%, 64% 46%, 64% 46%, 64% 54%, 64% 54%, 63% 58%, 63% 58%, 58% 60%, 58% 60%, 56% 53%, 56% 53%, 53% 54%, 53% 54%, 51% 63%, 51% 63%, 49% 72%, 49% 72%, 50% 77%, 50% 77%, 52% 77%, 52% 77%, 54% 84%, 54% 84%, 58% 76%, 58% 76%, 58% 69%, 58% 69%, 58% 63%, 58% 63%, 64% 61%, 64% 61%, 63% 65%, 63% 65%, 65% 69%, 65% 69%, 65% 73%, 65% 73%, 67% 75%, 67% 75%, 70% 73%, 70% 73%, 71% 75%, 71% 75%, 73% 78%, 73% 78%, 72% 82%, 72% 82%);
}

.bazzdos-clip-path-boots {
  width: 25%;
  height: 70%;
  background-color: transparent;
  clip-path: polygon(30% 74%, 26% 80%, 26% 80%, 30% 83%, 30% 83%, 26% 89%, 26% 89%, 27% 97%, 27% 97%, 37% 99%, 37% 99%, 42% 95%, 42% 95%, 41% 89%, 41% 89%, 39% 86%, 39% 86%, 45% 80%, 45% 80%, 43% 76%, 43% 76%, 55% 76%, 55% 76%, 60% 85%, 60% 85%, 56% 91%, 56% 91%, 58% 94%, 58% 94%, 80% 98%, 80% 98%, 86% 97%, 86% 97%, 79% 93%, 79% 93%, 71% 87%, 71% 87%, 74% 80%, 74% 80%, 76% 77%, 76% 77%, 73% 74%, 73% 74%, 56% 74%, 56% 74%, 44% 73%, 44% 73%);
}

.bazzdos-clip-path-gauntlets {
  width: 25%;
  height: 70%;
  background-color: transparent;
  clip-path: polygon(74% 39%, 74% 44%, 74% 44%, 79% 48%, 79% 48%, 83% 55%, 83% 55%, 86% 59%, 86% 59%, 94% 56%, 94% 56%, 97% 52%, 97% 52%, 95% 47%, 95% 47%, 95% 43%, 95% 43%, 94% 36%, 94% 36%, 87% 37%, 87% 37%);
}

.bazzdos-clip-path-armor {
  width: 25%;
  height: 85%;
  background-color: transparent;
  clip-path: polygon(33% 20%, 29% 17%, 29% 17%, 8% 22%, 8% 22%, 19% 25%, 19% 25%, 17% 34%, 17% 34%, 25% 35%, 25% 35%, 30% 32%, 30% 32%, 37% 37%, 37% 37%, 40% 42%, 40% 42%, 48% 43%, 48% 43%, 54% 40%, 54% 40%, 60% 42%, 60% 42%, 65% 41%, 65% 41%, 66% 37%, 66% 37%, 72% 32%, 72% 32%, 77% 38%, 77% 38%, 85% 37%, 85% 37%, 84% 30%, 84% 30%, 90% 25%, 90% 25%, 93% 21%, 93% 21%, 76% 18%, 76% 18%, 69% 20%, 69% 20%, 62% 18%, 62% 18%, 60% 11%, 60% 11%, 53% 7%, 53% 7%, 43% 13%, 43% 13%, 43% 17%, 43% 17%);
}

.bazzdos-clip-path-shield {
  width: 25%;
  height: 70%;
  background-color: transparent;
  clip-path: polygon(14% 36%, 25% 41%, 25% 41%, 26% 43%, 26% 43%, 19% 51%, 19% 51%, 21% 54%, 21% 54%, 20% 59%, 20% 59%, 13% 58%, 13% 58%, 7% 55%, 7% 55%, 6% 50%, 6% 50%, 6% 40%, 6% 40%, 8% 34%, 8% 34%);
}

.bazzdos-clip-path-belt {
  width: 25%;
  height: 70%;
  background-color: transparent;
  clip-path: polygon(36% 41%, 48% 43%, 48% 43%, 48% 43%, 55% 41%, 55% 41%, 55% 41%, 60% 43%, 60% 43%, 60% 43%, 68% 41%, 68% 41%, 68% 41%, 72% 47%, 72% 47%, 72% 47%, 64% 51%, 64% 51%, 64% 51%, 53% 52%, 53% 52%, 53% 52%, 42% 51%, 42% 51%, 42% 51%, 32% 48%, 32% 48%, 32% 48%);
}

/* Breezy */
.breezy-clip-path-sword {
  width: 39%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(2% 42%, 11% 45%, 11% 45%, 22% 51%, 22% 51%, 60% 71%, 60% 71%, 64% 79%, 64% 79%, 36% 62%, 36% 62%, 19% 53%, 19% 53%, 15% 53%, 15% 53%, 13% 51%, 13% 51%, 6% 47%, 6% 47%, 3% 45%, 3% 45%);
}

.breezy-clip-path-leather {
  width: 42%;
  height: 90%;
  background-color: transparent;
  clip-path: polygon(26% 27%, 20% 35%, 20% 35%, 28% 40%, 28% 40%, 21% 48%, 21% 48%, 15% 45%, 15% 45%, 18% 34%, 18% 34%, 23% 26%, 23% 26%, 25% 17%, 25% 17%, 28% 20%, 28% 20%, 36% 17%, 36% 17%, 40% 24%, 40% 24%, 48% 16%, 48% 16%, 59% 20%, 59% 20%, 63% 18%, 63% 18%, 62% 23%, 62% 23%, 66% 34%, 66% 34%, 62% 46%, 62% 46%, 57% 44%, 57% 44%, 56% 35%, 56% 35%, 64% 34%, 64% 34%, 60% 23%, 60% 23%, 51% 25%, 51% 25%, 53% 32%, 53% 32%, 53% 39%, 53% 39%, 33% 38%, 33% 38%, 33% 32%, 33% 32%, 34% 26%, 34% 26%);
}

.breezy-clip-path-crown {
  width: 45%;
  height: 75%;
  background-color: transparent;
  clip-path: polygon(36% 11%, 48% 11%, 48% 11%, 50% 8%, 50% 8%, 50% 4%, 50% 4%, 46% 1%, 46% 1%, 43% 1%, 43% 1%, 39% 1%, 39% 1%, 36% 3%, 36% 3%, 34% 6%, 34% 6%);
}

.breezy-clip-path-bow {
  width: 39%;
  height: 70%;
  background-color: transparent;
  clip-path: polygon(49% 10%, 53% 12%, 53% 12%, 60% 13%, 60% 13%, 57% 17%, 57% 17%, 60% 19%, 60% 19%, 63% 16%, 63% 16%, 63% 21%, 63% 21%, 66% 31%, 66% 31%, 69% 32%, 69% 32%, 69% 20%, 69% 20%, 69% 11%, 69% 11%, 65% 5%, 65% 5%, 60% 3%, 60% 3%, 50% 1%, 50% 1%, 52% 6%, 52% 6%);
}

.breezy-clip-path-robe {
  width: 39%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(30% 42%, 53% 42%, 53% 42%, 63% 53%, 63% 53%, 77% 63%, 77% 63%, 92% 65%, 92% 65%, 97% 70%, 97% 70%, 97% 78%, 97% 78%, 96% 89%, 96% 89%, 82% 86%, 82% 86%, 72% 75%, 72% 75%, 67% 72%, 67% 72%, 69% 78%, 69% 78%, 62% 74%, 62% 74%, 67% 83%, 67% 83%, 62% 86%, 62% 86%, 56% 80%, 56% 80%, 41% 83%, 41% 83%, 33% 79%, 33% 79%, 29% 79%, 29% 79%, 17% 90%, 17% 90%, 13% 91%, 13% 91%, 16% 80%, 16% 80%, 11% 83%, 11% 83%, 10% 79%, 10% 79%, 16% 73%, 16% 73%, 21% 68%, 21% 68%, 22% 64%, 22% 64%, 24% 57%, 24% 57%, 25% 59%, 25% 59%, 55% 76%, 55% 76%, 64% 79%, 64% 79%, 60% 72%, 60% 72%, 25% 53%, 25% 53%);
}

.adaylyn-clip-path-wand {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(2% 3%, 5% 9%, 5% 9%, 5% 9%, 9% 15%, 9% 15%, 9% 15%, 13% 20%, 13% 20%, 13% 20%, 17% 25%, 17% 25%, 17% 25%, 21% 31%, 21% 31%, 21% 31%, 24% 30%, 24% 30%, 24% 30%, 22% 25%, 22% 25%, 22% 25%, 20% 22%, 20% 22%, 20% 22%, 20% 19%, 20% 19%, 20% 19%, 21% 16%, 21% 16%, 21% 16%, 16% 15%, 16% 15%, 16% 15%, 13% 11%, 13% 11%, 13% 11%, 13% 9%, 13% 9%, 13% 9%, 13% 7%, 13% 7%, 13% 7%, 9% 6%, 9% 6%, 9% 6%, 9% 3%, 9% 3%, 9% 3%, 5% 2%, 5% 2%, 5% 2%, 2% 3%, 2% 3%, 2% 3%);
}

.adaylyn-clip-path-robe {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(26% 31%, 24% 35%, 24% 35%, 24% 35%, 24% 35%, 35% 40%, 35% 40%, 35% 40%, 35% 40%, 38% 33%, 38% 33%, 38% 33%, 38% 33%, 41% 36%, 41% 36%, 41% 36%, 41% 36%, 38% 41%, 38% 41%, 38% 41%, 38% 41%, 45% 45%, 45% 45%, 45% 45%, 45% 45%, 51% 42%, 51% 42%, 51% 42%, 51% 42%, 57% 40%, 57% 40%, 57% 40%, 57% 40%, 52% 36%, 52% 36%, 52% 36%, 52% 36%, 53% 30%, 53% 30%, 53% 30%, 53% 30%, 58% 34%, 58% 34%, 58% 34%, 58% 34%, 63% 40%, 63% 40%, 63% 40%, 63% 40%, 67% 42%, 67% 42%, 67% 42%, 67% 42%, 70% 39%, 70% 39%, 70% 39%, 70% 39%, 63% 33%, 63% 33%, 63% 33%, 63% 33%, 61% 26%, 61% 26%, 61% 26%, 61% 26%, 58% 20%, 58% 20%, 58% 20%, 58% 20%, 53% 21%, 53% 21%, 53% 21%, 53% 21%, 50% 23%, 50% 23%, 50% 23%, 50% 23%, 44% 24%, 44% 24%, 44% 24%, 44% 24%, 41% 23%, 41% 23%, 41% 23%, 41% 23%, 41% 20%, 41% 20%, 41% 20%, 41% 20%, 37% 20%, 37% 20%, 37% 20%, 37% 20%, 34% 23%, 34% 23%, 34% 23%, 34% 23%, 34% 27%, 34% 27%, 34% 27%, 34% 27%, 34% 30%, 34% 30%, 34% 30%, 34% 30%, 33% 32%, 33% 32%, 33% 32%, 33% 32%);
}

.adaylyn-clip-path-boots {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(37% 62%, 38% 72%, 38% 72%, 38% 76%, 38% 76%, 41% 84%, 41% 84%, 39% 98%, 39% 98%, 47% 98%, 47% 98%, 46% 92%, 46% 92%, 46% 86%, 46% 86%, 46% 78%, 46% 78%, 48% 74%, 48% 74%, 46% 70%, 46% 70%, 45% 62%, 45% 62%, 51% 62%, 51% 62%, 52% 68%, 52% 68%, 52% 75%, 52% 75%, 55% 82%, 55% 82%, 54% 91%, 54% 91%, 55% 98%, 55% 98%, 60% 98%, 60% 98%, 59% 94%, 59% 94%, 60% 86%, 60% 86%, 61% 76%, 61% 76%, 62% 69%, 62% 69%, 59% 66%, 59% 66%, 60% 60%, 60% 60%, 36% 60%, 36% 60%);
}

.adaylyn-clip-path-eyes {
  width: 40%;
  height: 95%;
  background-color: transparent;
  clip-path: polygon(37% 16%, 46% 20%, 46% 20%, 53% 17%, 53% 17%, 52% 11%, 52% 11%, 54% 6%, 54% 6%, 51% 2%, 51% 2%, 52% 7%, 52% 7%, 49% 9%, 49% 9%, 45% 7%, 45% 7%, 40% 9%, 40% 9%, 38% 7%, 38% 7%, 37% 4%, 37% 4%, 36% 9%, 36% 9%, 39% 11%, 39% 11%, 38% 13%, 38% 13%);
}

.adaylyn-clip-path-tome {
  width: 40%;
  height: 80%;
  background-color: transparent;
  clip-path: polygon(73% 42%, 83% 45%, 83% 45%, 81% 47%, 81% 47%, 74% 45%, 74% 45%, 72% 48%, 72% 48%, 76% 54%, 76% 54%, 76% 60%, 76% 60%, 62% 59%, 62% 59%, 62% 52%, 62% 52%, 61% 47%, 61% 47%, 58% 42%, 58% 42%, 62% 40%, 62% 40%, 68% 43%, 68% 43%);
}