.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconcc-marker:before {
    content: "\e66e";
}

.iconqianjin:before {
    content: "\e633";
}

.iconhoutui:before {
    content: "\e637";
}

.iconqingchu:before {
    content: "\eaa9";
}

.iconduobianxing:before {
    content: "\e634";
}

.iconcircle:before {
    content: "\e642";
}

.iconjuxing:before {
    content: "\e636";
}

.iconkong:before {
    content: "\e645";
}

.iconpoly-line:before {
    content: "\e64b";
}

.iconpeizhi:before {
    content: "\e667";
}

.iconxiala:before {
    content: "\e632";
}

.iconriqi:before {
    content: "\e631";
}

.iconlogo:before {
    content: "\e630";
}

.iconnongshi:before {
    content: "\e62f";
}

.iconzhankaicedaohang:before {
    content: "\e62a";
}

.iconshouqicedaohang:before {
    content: "\e62b";
}

.iconjichuziliaoguanli1:before {
    content: "\e62e";
}

.iconxiala-houtai:before {
    content: "\e62c";
}

.icontianjianguanli1:before {
    content: "\e62d";
}

.icondaohang:before {
    content: "\e629";
}

.iconqiyongmoban:before {
    content: "\e627";
}

.icontingyongmoban:before {
    content: "\e628";
}

.iconzuowumingcheng-qingzao:before {
    content: "\e624";
}

.iconzuowumingcheng-huanggua:before {
    content: "\e625";
}

.iconzuowumingcheng-xihongshi:before {
    content: "\e626";
}

.iconjilutongji-dikuaishuliang:before {
    content: "\e623";
}

.iconjilutongji-biaoshi-nong1:before {
    content: "\e61d";
}

.iconjilutongji-biaoshi-xun1:before {
    content: "\e622";
}

.iconhuanyuan:before {
    content: "\e621";
}

.icongongdanguanli-chaoshi-zhihangrenyuan1:before {
    content: "\e620";
}

.iconfeiqi:before {
    content: "\e61e";
}

.iconxiafa:before {
    content: "\e61f";
}

.iconnongshixiangqing-yixiafa-shijian1:before {
    content: "\e61a";
}

.iconnongshixiangqing-yixiafa-zhuangtai1:before {
    content: "\e61b";
}

.iconnongshixiangqing-yixiafa-youxianji1:before {
    content: "\e61c";
}

.iconjilutongji-zuowushuliang1:before {
    content: "\e618";
}

.iconjilutongji-xunjiangongdan1:before {
    content: "\e614";
}

.iconjilutongji-nongshigongdan1:before {
    content: "\e615";
}

.icontianjiawudi:before {
    content: "\e612";
}

.icontianjiayoudi:before {
    content: "\e613";
}

.iconboqianzhunbei-jihuaxiangqing:before {
    content: "\e60a";
}

.iconbozhongqi-jihuaxiangqing:before {
    content: "\e60b";
}

.iconmiaoqiguanli-jihuaxiangqing:before {
    content: "\e60c";
}

.iconleiqiguanli-jihuaxiangqing:before {
    content: "\e60d";
}

.iconmianji-jihuaxiangqing2:before {
    content: "\e608";
}

.iconshanchu:before {
    content: "\e602";
}

.iconbianji:before {
    content: "\e603";
}

.iconxiangqing:before {
    content: "\e601";
}

.btn-group {
    z-index: 9999;
    position: absolute;
    right: 20px;
    top: 12px;
}

.editable-btn {
    border: none;
    background-color: #ffffff;
    padding: 8px;
    border-radius: 8px;
    margin-right: 4px;
}

.editable-btn:disabled:hover {
    cursor: not-allowed;
}

.editable-btn:hover {
    cursor: pointer;
}

.tooltip-wrapper {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    padding: 4px 6px;
    color: #ffffff;
}