.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair;
}

.btn-group {
    z-index: 9999;
    position: absolute;
    right: 12px;
    top: -6px;
}

.editable-btn:disabled:hover {
    cursor: not-allowed;
}

.editable-btn:hover {
    cursor: pointer;
}

.tooltip-wrapper {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    padding: 4px 6px;
    color: #ffffff;
}